html,
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden;
}

*:focus {
  outline: none;
}

*::-moz-focus-inner {
  border: none;
}
