.chart {
  position: absolute;
  bottom: 0;
  height: 400px;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(to top, black 60%, rgba(black, 0) 100%);

  .highcharts-container {
    position: relative;
    top: 63px !important;
  }

  .highcharts-axis,
  .highcharts-grid,
  .highcharts-background {
    display: none;
  }
  
  g.highcharts-legend {
    display: none;
  }

  .highcharts-legend {
    top: 120px !important;
  }
}