.leaflet-container {
  background: black;
  height: calc(100% - 300px);
  width: 100%;
  position: absolute;
}

#tempmap {
  z-index: -1;
}

.leaflet-marker-pane {
  opacity: 1;
  transition: opacity $speed $easing;
}

.has-ajaxing-data {
  .leaflet-container {
    .leaflet-marker-pane {
      opacity: 0;
    }
  }
}