.leaflet-popup-content-wrapper {
  border-radius: 2px;
}

a.leaflet-popup-close-button {
  padding-top: 12px !important;
  padding-right: 12px !important;
  margin-left: 10px;
  position: relative !important;
  float: right;
  transition: color $speed $easing;
}

.leaflet-popup {
  opacity: 1;
  transition: opacity $speed $easing;

  .injured {
    background-color: $red-light;
  }

  .killed {
    background-color: $red-dark;
  }

  .date {
    background-color: $blue-light;
  }

  .killed, .injured, .date {
    display: inline-block;
    vertical-align: middle;
    padding: 1px 5px;
    font-weight: bold;
    color: white;
    border-radius: 2px;
    margin-right: 10px;
  }

  &.is-closing {
    opacity: 0 !important;
  }
}